.imageBox{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 40px;
  filter: var(--shadow);
  .interior {
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    font-family: var(--garamond);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
  }
  .carousel {
    position: relative;
    width: 100%;
    max-width: 1000px;
    overflow:auto;
    .carousel-inner {
      display: flex;
      transition: transform 0.5s ease-in-out;
      .carousel-item {
        min-width: 60%;
        box-sizing: border-box;
        img {
          width: 90%;
          display: block;
        }
      }
    }
  
  }
  
}