.interier{
  color: rgba(134,124,110,255);
  font-size: 50px;
}


.swiper {
  filter: drop-shadow(10px 7px 10px rgba(134,124,110,255));
  text-align: center;
  padding-top: 30px;
  width: 40%;
  height: 100%;
  float: right;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  border-radius: 40px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
