.homeSection {
  .container {
    .row {
      .Aboutsec {
        display: flex;
        width: 100%;
        flex-direction: row; /* Ehtiyacınıza uyğun olaraq dəyişdirin (row/column) */
        justify-content: space-around; /* Dizayn ehtiyacınıza uyğun olaraq tənzimləyin */
        align-items: center;
      }
    }
  }
}
